html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *:after, *:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Trebuchet MS", sans-serif;
  min-height: 100vh;
  background-color: white;
  color: #333;
  font-size: 1.6rem;
  line-height: 1.5;
  position: relative;
}

h1, h2, h3 {
  line-height: 1.2;
  font-weight: bold;
  text-align: center;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.2rem;
}

h3 {
  font-size: 2.4rem;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Utiltys and globales */
p, .text {
  font-size: 1.6rem;
}

button, .btn {
  display: inline-block;
  cursor: pointer;
  border: none;
  background: none;
  border: 1px solid rgba(0, 0, 0, 0);
  background-color: #5D6D7E;
  font-size: 1.6rem;
  border-radius: 0.4rem;
  color: #fff;
  padding: 1.2rem 1.5rem;
  font-weight: bold;
}

img {
  display: block;
  margin: auto;
  width: auto;
  height: auto;
}

section {
  display: block;
  margin: 2rem 0;
}

b {
  font-weight: bold;
}

svg {
  height: 1.6rem;
}

input, select {
  border: none;
  background: none;
  border-radius: 1.2rem;
  color: inherit;
}

input:focus, select:focus {
  outline: none;
}

select {
  appearance: none;
  background-image: url("/assets/imgs/arrow-down.svg");
  background-repeat: no-repeat;
  background-size: 1rem;
  background-position: calc(100% - 1rem);
}

.inicio .subtitle {
  margin-top: 2rem;
}
.inicio .center {
  margin-top: 4rem;
  margin-bottom: 2rem;
}
.inicio.container {
  margin: 5rem auto;
}

.product {
  display: inline-block;
  padding: 2rem;
  background-color: rgb(236, 236, 236);
  width: 100%;
  max-width: 50rem;
  border-radius: 1.5rem;
}
.product img {
  margin-top: 2rem;
  height: 13rem;
}

.about-us {
  background-image: url("/public/assets/imgs/fondo-about-us.png");
  background-size: cover;
  background-position: center;
  min-height: calc(100vh - 52px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-us .container {
  max-width: 800px;
}
.about-us .logo {
  margin-bottom: 10rem;
  height: 30rem;
}
.about-us p {
  text-align: center;
  color: #fff;
}

.subs-container h1 {
  margin-top: 6.4rem;
}
.subs-container .subs-content {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  align-items: center;
  gap: 10rem;
  flex-shrink: 0;
  margin-top: 8rem;
}
@media screen and (max-width: 1200px) {
  .subs-container .subs-content {
    flex-direction: column;
  }
}
.subs-container .sub {
  width: 100%;
  max-width: 45rem;
  padding: 2rem 6rem;
  border-radius: 1rem;
  color: #fff;
}
@media screen and (max-width: 480px) {
  .subs-container .sub {
    padding: 2rem 3rem;
  }
}
.subs-container .sub h2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}
.subs-container .sub-price {
  text-align: center;
  font-size: 3rem;
  padding-bottom: 1.2rem;
  border-bottom: 2px solid #fff;
}
.subs-container .sub-benefits {
  margin: 4rem 0;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  font-size: 2.4rem;
}
.subs-container .sub-benefits li {
  padding-left: 4rem;
  background-image: url("/assets/imgs/Logo.png");
  background-size: 2.2rem auto;
  background-position: left;
  background-repeat: no-repeat;
}
.subs-container .--sub-1 {
  background: linear-gradient(to right, #CC9966, #FF9900);
}
.subs-container .--sub-2 {
  background: linear-gradient(to bottom, #CC33FF, #CCCCFF);
}
.subs-container .sub-btn {
  display: block;
  max-width: 26rem;
  width: 100%;
  margin: auto;
  background-color: #000;
  color: #fff;
  font-size: 2rem;
  padding: 1.6rem 1.5rem;
  border-radius: 1rem;
}
@media screen and (max-width: 1200px) {
  .subs-container .sub-btn {
    max-width: 100%;
  }
}

.product-page h1 {
  margin-top: 3rem;
  text-align: left;

}

.product-page-container {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin-top: 3rem;
  margin-bottom: 4rem;
  padding-left: 6rem;
  padding-right: 2rem;
  padding-bottom: 5.6rem;
  border-bottom: 2px solid #5D6D7E;
  gap: 3rem;
}
@media screen and (max-width: 1200px) {
  .product-page-container {
    flex-direction: column;
    padding-left: 0;
    padding-right: 0;
    align-items: center;
  }
}
.product-page-container svg {
  height: 3rem;
  color: #a0a0a0 !important;
}
.product-page-container img {
  max-width: 100%;
  height: 35rem;
}
@media screen and (max-width: 1200px) {
  .product-page-container img {
    max-width: 100%;
    max-height: 35rem;
    height: 100%;
  }
}
.product-page-container .img-carousel {
  max-width: auto;
  width: 100%;
  background-color: rgba(236, 236, 236, 0.5);
  padding: 1.6rem;
}
.product-page-container .img-carousel-btns {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 0.8rem;
}
.product-page-container .img-carousel-btns.one {
  grid-template-columns: 1fr;
}
.product-page-container .img-carousel-btn {
  cursor: pointer;
}
.product-page-container .img-carousel-indexs {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  margin-top: 0.8rem;
}
.product-page-container .circle {
  z-index: 1;
  cursor: pointer;
  background-color: #c6c6c6;
}
.product-page-container .active {
  background-color: #868686;
}

.product-status {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  width: 100%;
  max-width: 57rem;
}
.product-status .product-status-price {
  font-family: "Protest Strike", sans-serif;
  font-style: italic;
  padding-bottom: 2rem;
  border-bottom: 1px solid lightgray;
  text-align: right;
}
.product-status .circle {
  height: 1rem;
  width: 1rem;
}
.product-status .product-status-items {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  margin-top: 2rem;
}
.product-status .product-status-item {
  display: flex;
  align-items: baseline;
}
.product-status .product-status-item-info {
  padding-left: 2rem;
  flex-grow: 1;
}
.product-status h4, .product-status p {
  font-size: 1.4rem;
}
.product-status .product-status-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
  margin-top: 2rem;
  padding: 0.4rem 1.6rem;
}
.product-status svg {
  height: 1.6rem;
  color: #fff !important;
}

.form-page {
  display: flex;
  flex-direction: column;
  padding: 1.6rem;
  background: rgb(93, 109, 126);
  background: linear-gradient(180deg, rgb(93, 109, 126) 0%, rgb(214, 234, 255) 100%);
}
.form-page .form-container {
  flex-grow: 1;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: #5D6D7E;
  align-items: center;
  padding-left: 2rem;
  color: #fff;
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  nav .menu {
    display: none;
  }
}
nav a {
  display: inline-block;
  padding: 1.4rem 1.6rem;
}
nav a:hover {
  background-color: #4d4d4d;
  color: #fff;
}
nav .logo {
  height: 3.5rem;
}
nav .sub-menu-container {
  display: inline-block;
}
nav .sub-menu-container svg {
  height: 1.5rem;
  margin-left: 1rem;
  color: #fff !important;
}
nav .hover-list:hover .sub-menu {
  position: absolute;
  display: flex;
}
nav .sub-menu {
  display: none;
  flex-direction: column;
  background-color: #5D6D7E;
}

@media screen and (max-width: 768px) {
  .--mobile-nav .menu {
    position: fixed;
    overflow: auto;
    z-index: 4;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .--mobile-nav .menu a {
    font-size: 3.2rem;
    width: 100%;
    text-align: center;
  }
  .--mobile-nav .sub-menu {
    background: transparent;
    border: 1px solid rgb(236, 236, 236);
  }
  .--mobile-nav .sub-menu a {
    font-size: 2.4rem;
    padding-left: 2rem;
  }
  .--mobile-nav .active {
    display: flex;
  }
}

header {
  overflow: hidden;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
header h1 {
  font-size: 9.2rem;
}
@media screen and (max-width: 550px) {
  header h1 {
    font-size: 6rem;
  }
}
header .bg {
  position: absolute;
  object-fit: cover;
  object-position: center;
}
header .content {
  position: absolute;
  color: #fff;
  text-align: center;
}
header .--btn-header {
  margin-top: 6rem;
  background: none;
  border: 1px solid #fff;
  padding: 1rem 2rem;
  font-size: 3rem;
  color: #fff;
  transition: all 0.3s ease-in-out;
}
header .--btn-header:hover {
  transform: scale(1.1);
}

footer {
  background-color: #5D6D7E;
  padding: 3rem 3rem;
  color: #fff;
  margin-top: 7rem;
}
footer svg {
  height: 2rem;
  color: #fff !important;
  cursor: pointer;
}
footer .footer-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
  margin-top: 2rem;
}
@media screen and (max-width: 768px) {
  footer .footer-content {
    grid-template-columns: 1fr;
  }
}
footer a:hover {
  color: #b0bac4;
}
footer .col {
  display: flex;
  flex-direction: column;
  align-items: start;
  font-weight: bold;
}
footer .--col-1 {
  font-size: 3rem;
}
footer .--col-2 {
  align-items: left;
}
footer .footer-logo {
  height: 5rem;
  margin-right: 0;
}
footer .social-media {
  display: flex;
  gap: 1.5rem;
}

.titulo {
  text-align: center;
}

.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

form {
  background-color: #000;
  color: #727272;
  padding: 4rem;
  border-radius: 1rem;
  background-color: #010101;
  width: 100%;
  max-width: 110rem;
  min-height: 20rem;
  font-weight: bold;
}
form .form-title {
  font-size: 5rem;
  color: #fff;
  text-align: left;
  margin-bottom: 0.4rem;
}
form label {
  display: block;
  color: #fff;
  margin-bottom: 1.2rem;
}
form .form-content {
  margin: 2rem 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
@media screen and (max-width: 768px) {
  form .form-content {
    grid-template-columns: 1fr;
  }
}
form input, form select {
  padding: 1.2rem 1.6rem;
  width: 100%;
  background-color: #313131;
  color: #fff;
  font-size: 1.6rem;
}
form button {
  min-width: 16rem;
  border-radius: 5rem;
}
@media screen and (max-width: 600px) {
  form button {
    width: 100%;
  }
}
form svg {
  color: #fff !important;
}

.--form-login form {
  max-width: 60rem;
  padding: 9rem;
}
@media screen and (max-width: 530px) {
  .--form-login form {
    padding: 4rem;
  }
}
.--form-login .form-title {
  text-align: center;
  padding-bottom: 2rem;
  border-bottom: 3px solid #313131;
}
.--form-login .form-content {
  margin-top: 4rem;
  grid-template-columns: 1fr;
}
.--form-login label {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-bottom: 2rem;
}
.--form-login .box-container {
  padding: 0 2rem;
}
.--form-login input {
  background-color: #fff;
  color: #000;
}
.--form-login .form-options {
  padding-top: 2rem;
  border-top: 3px solid #313131;
  display: flex;
  gap: 1.2rem;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 600px) {
  .--form-login .form-options {
    flex-direction: column;
    gap: 2.4rem;
  }
}
.--form-login button {
  width: 100%;
  max-width: 24rem;
  border-radius: 0.4rem;
}
.--form-login a {
  color: #A9C6EF;
  font-weight: normal;
}

.container {
  display: block;
  margin: auto;
  max-width: 1300px;
  width: 100%;
}
@media screen and (max-width: 1330px) {
  .container {
    padding: 0 1.6rem;
  }
}

.--nav-inicio {
  background: transparent;
  position: absolute;
  z-index: 1;
  width: 100%;
}
.--nav-inicio .hover-list:hover .sub-menu {
  position: absolute;
  display: flex;
}
.--nav-inicio .sub-menu {
  flex-direction: column;
  background: transparent;
  border: 1px solid #fff;
}

.fullscreen-container {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  padding: 0 1.5rem;
  z-index: 2;
  display: flex;
  align-items: center;
}
.fullscreen-container .fullscreen-img {
  max-width: 95%;
  max-height: 90vh;
}
.fullscreen-container svg {
  height: 5rem;
  color: rgb(236, 236, 236) !important;
}
.fullscreen-container .close {
  cursor: pointer;
  position: absolute;
  top: 2rem;
  right: 2rem;
}

.text-container .bold {
  color: #5D6D7E;
  font-weight: bold;
  font-size: 1.8rem;
}
.text-container .line {
  margin-bottom: 0.8rem;
}
.text-container p {
  display: inline-block;
}
.text-container li {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: baseline;
}
.text-container li::before {
  content: "";
  display: block;
  width: 0.8rem;
  height: 0.8rem;
  background-color: #5D6D7E;
  border-radius: 50%;
  margin-right: 1.6rem;
}

.subtitle {
  font-size: 1.8rem;
  text-align: center;
}

.--dinamic-link {
  font-weight: bold;
}
.--dinamic-link:hover {
  color: #5D6D7E;
}

.mobile-menu {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 5;
  box-shadow: 0 0 10px #333;
}
.mobile-menu svg {
  position: absolute;
  height: 4rem;
  color: #fff !important;
}
.mobile-menu svg:nth-child(2) {
  height: 5rem;
}
@media screen and (max-width: 768px) {
  .mobile-menu {
    display: flex;
  }
}
.mobile-menu.active {
  background-color: red;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  flex-shrink: 0;
  gap: 1.5rem;
}

.--no-margin {
  margin: 0;
}

.--no-bold {
  font-weight: normal;
}

.circle {
  display: inline-block;
  height: 1.2rem;
  width: 1.2rem;
  background-color: #5D6D7E;
  border-radius: 50%;
}

.--circle-2 {
  background-color: #1ca153 !important;
}

.text-green {
  color: #1ca153;
}

.text-darkgray {
  color: #9b9b9b;
}

.text-primary-color {
  color: #5D6D7E;
}

.--no-margin-bottom {
  margin-bottom: 0 !important;
}

.none {
  display: none;
}

.no-scroll {
  overflow-y: hidden;
}

.prev-page {
  font-size: 2rem;
  color: #000;
  cursor: pointer;
}

.showFullscreen {
  cursor: pointer;
}