@import url('https://fonts.googleapis.com/css2?family=Protest+Strike&family=Raleway&display=swap');
:root {
    --gray: #d6d6d6;
    --font: 'Protest Strike', sans-serif;
    --font2: 'Raleway', sans-serif;
    --softGray: #f5f5f5;
    --darkGray : #9b9b9b;
    --green: #1ca153;
    --red: #605591;
}
.barsuperior {
    overflow: hidden;
    background-color: #5D6D7E;
    opacity: 1;
}

.barsuperior a {
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Trebuchet MS', sans-serif;
}

.barsuperior a:hover {
    background-color: #dddddd;
    color: white;
}

ul, ol {
    list-style: none;
}

.menu1 li a {
    color: white;
    text-decoration: none;
    display: block;
}

.menu1 li a:hover {
    background-color:#434343 ;
}

.menu1 > li {
    float: center;
}

.menu1 li ul {
    display: none;
    position: relative;
}

.menu1 li:hover > ul {
    display:block;
}

.logo {
    width: 100px;
    height: 75px;
    position: absolute;
    top: -15px;
    left: -25px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

ul{
    list-style: none;
}

main{
    width: 100%;
}

body{
    font-family: var(--font2);
    font-size: 1.6rem;
}

p{
    font-size: 1.4rem;
}

button{
    font-family: var(--font);
    font-size: 1.6rem;
    cursor: pointer;
    border: none;
}

.line1 {
    width: 70%;;
    margin-left: 15%;
}

.line2 {
    width: 70%;;
    margin-left: 15%;
}


.product{
    padding: 3rem;
    width: min(100%, 125rem);
    margin: 0 auto;
    height: 50rem;
    display: flex;
    gap: 5rem;
}

.product-imgs, .product-info{
    width: 50%;
}

.product-imgs{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.product-imgs #mainImage{
    width: 100%;
    height: 80%;
    object-fit: contain;
    object-position: center;
}

.product-imgs #imagesCarousel{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

#imagesCarousel li{
    width: 100%;
    height: 100%;
    cursor: pointer;
    border: 2px solid var(--gray);
    border-radius: 1rem;
    background-color: white;
}

#imagesCarousel img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    border-radius: 1rem;
}

#imagesCarousel li.selected{
    border: 2px solid black;
}

.price h3{
    text-align: right;
    font-family: var(--font);
}

.price h3{
    font-size: 3rem;
    font-weight: 800;
    font-style: italic;
}

.financing{
    width: 100%;
    background-color: var(--softGray);
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
    border-radius: 0.5rem;
    margin: 1rem 0;
}

.financing h4{
    font-weight: 600;
}

.financing a{
    color: var(--darkGray);
    font-size: 1.3rem;
}

.financing p, .shipment li > p{
    font-weight: 600;
    text-align: center;
}

.financing p span{
    font-weight: normal;
    font-size: 1.3rem;
}

.shipment{
    width: 100%;
}

.shipment li {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.shipment li:nth-child(1){
    margin-top: 2.5rem;
    padding: 2rem 0 1rem 0;
    border-top: 1px solid var(--gray);
}

.shipment li:nth-child(2){
    padding: 1rem 0 2rem 0;
}

.shipment li > div{
    width: 80%;
}

.shipment li span{
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    margin-right: 0.5rem;
}

.shipment li h4{
    font-size: 1.4rem;
}

.shipment li:nth-child(1) span{
    background-color: var(--green);
}

.shipment li:nth-child(2) span{
    background-color: var(--darkGray);
}

.shipment li:nth-child(1) h4{
    color: var(--green);
}

.shipment li:nth-child(2) h4{
    color: var(--darkGray);
}

.shipment li h4{
    font-weight: 600;
}

.buy-btn{
    width: 100%;
    padding: 0.75rem 0;
    background-color: #5D6D7E;
    color: white;
    border-radius: 0.5rem;
}

@media (width < 1200px) {
    .product{
        gap: 2rem;
    }
}

@media (width < 880px) {
    .product{
        flex-direction: column;
        height: auto;
        gap: 2rem;
        align-items: center;
    }
    .product-imgs, .product-info{
        width: min(90%, 70rem);
    }
}

.tabla {
    border:1px solid black ;
    border-collapse: collapse;
    margin: auto;
    font-family: 'Trebuchet MS', sans-serif;
    background-color: #EAEDED;
}

td {
    padding: 1rem;
    border: 1px solid black;
}

.tr1 {
    padding: 1rem;
    border: 1px solid black;
    background-color: #5D6D7E;
    color: white;
    font-weight: bold;
}