body{
    background: linear-gradient(to bottom, #5D6D7E, #d6eaff);  
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

*{
    font-family: 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}


form{
    width: 600px;
    border:  2px solid black;
    padding: 6rem;
    background-color: black;
    border: none;
    border-radius: 20px;
    color: aliceblue;
}
h1{
    display: block;
    border: 2px solid black;
    width: 95%;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

label{
    color: aliceblue;
    font-size: 18px;
    padding: 11px;
    font-weight: 350;
}

hr {
    height: 3px;
}

input{
    display: block;
    border: 2px solid black;
    width: 95%;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

button{
    float: right;
    background-color: #5D6D7E;
    padding: .5rem;
    color: white;
    border: none;
    width: 60%;
    border-radius: 5px;
    margin-right: 10px;
    text-decoration: none;
}

button:hover{
    background-color: white;
    color: black;
}

a{
    float: left;
    margin-left: 10px;
    padding: .5rem;
    text-decoration: none;
    color: #a9c6ef;
}
a:hover{
    color: white;
}

.atras {
    color:white;
    font-weight: 500;
    font-size: 1.3rem;
    position: absolute;
    top: 1%;
    left:0.2%;
}

.atras a {
    text-decoration: none;
    color:black
}

.atras a:hover {
    color: white;

}